@charset "UTF-8";

	#circle
	{
		border-radius: 50% 50% 50% 50%;
		width: 150px;
		height: 150px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		
		
	}
	#intro
	{
		font-weight: normal;
		font-size: 300%;
		color: #EFE9D9;
		align-content: center;
		text-align: center;
	}
	body
	{
		text-align:center;
		background-color: #000000;
		//background-image: url(DSC_0333.JPG);
		margin:auto auto;
		
		
	}
	canvas
	{
		display: block;
		position: fixed; 
		top:0;
		left:0;
		z-index: -1;
	}
	#About
	{
		font-size: 200%;
		padding: 0;
		align-content: center;
		margin: bottom;
		color: #FFFFFF;
	}
	#sections
	{
		
		margin: 5% 7.5%;
		padding: 0;
		text-align: center;
		background-color: #2E2E2E;
		color: #110918;
		opacity: 0.85;
	}
	#projects
	{
		text-align:left;
		margin-left: 30%;
		margin-top: 10%;
		font-size: 500%;
		color: #FFFFFF;
	}
	#SideWaysLinks
	{
		display: inline;
		font-size: 150%;
		list-style-type: none;
		text-align: center;
	}
	hr
	{
		border-bottom: 1px dashed black;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		width: 30%;
	}
	p
	{
		font-size: 175%;
		color: #FFFFFF;
		padding:0 5% 5% 5%;
		text-align: justify;
	}
	aside
	{
		float: left;
		padding-left: 3%;
	}
	a
	{
		color:#2286D8;
	}
	#pages
	{
		text-align: center;
		text-decoration:none;
		color: #C3C3C3;
	}
	#pages:hover
	{
		color: #FFFFFF;
	}
