@charset "UTF-8";
html,body
{
  margin: 0;
  padding: 0;
  vertical-align: top;
}
body
{
  background-color: black;
  color: white;
  font-family: Roboto;
  font-size: 125%;
}

#Intro
{
  font-family: 'Arial Rounded MT Bold';
  background-color: #2196F3;
  background-image: url(DSC_0309.JPG);
  background-size: cover;
  background-position: bottom;
  color: brown;
  text-align: center;
  height: 99.85vh;
  width: 98.86vw;
  padding: 0;
  border-width: 1vw;
  display: block;
}
#Center
{
  margin-top: 15%;
  margin-left: 35%;
  margin-right: 15%;
  z-index: 100;
  vertical-align: middle;
  text-align: center;
  display: block;
  position: absolute;
}

#Orange
{
  padding: 0;
  margin: 0;
  text-align: right;
  height: 96vh;
  width: 96.95vw;
  border : solid 1vw #E64A19;
  background-color: #FF5722;
}
#aboutMe
{
  padding:0;
  display: block;
  margin: 0;
  border: 0;
}
#Green
{
    background-color: #4CAF50;
    height: 96vh;
    width: 96.95vw;
    border : solid 1vw #388E3C;
}
#circle
{
  border-radius: 50% 50% 50% 50%;
  width: 275px;
  height: 275px;
  display: inline;
  align-content: left;
  margin-top: 5%;
  vertical-align: bottom;
}
#theRight
{
  align-content: center;
  text-align: justify;
  font-stretch: ultra-expanded;
  display: inline-block;
  padding-left: 25%;
  padding-right: 2%;
  width:45%;
  padding-top: 0;
  font-weight: bold;
  margin-bottom: 5%;
  font-size: 125%;
  font-weight: lighter;
}
#superAnnoyingTable
{
  padding-top: 3%;
  height: 50%;
}
table
{
  align-items:  baseline;
  align-content:  center;
  align-self: baseline;
  width: 101%;
  height: 56%;
  border-collapse: collapse;
}
tr
{
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
#social
{
  padding-left: 0;
  border: 0;
  align-content: center;
  text-align: center;
  width: 16%;
  padding-bottom: 0;
  height: 100%;
  vertical-align: middle;
}
#social:hover
{
  margin: 0;
  padding: 0;
  width: 17%;
  background: #E64A19;
}
.ThePhoto
{

  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
