@charset "UTF-8";

	#circle
	{
		border-radius: 50% 50% 50% 50%;
		width: 150px;
		height: 150px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		
		
	}
	#header
	{
		margin: 5% auto 40%;
	}
	#intro
	{
		font-weight: normal;
		font-size: 300%;
		color: #FFFFFF;
		align-content: center;
		text-align: center;
	}
	body
	{`
		text-align:center;
		background-color: black;
		//background-image: url(DSC_0333.JPG);
		background-position: top; 
		background-repeat: no-repeat;
    	background-attachment: relative;
		margin:auto auto;
		font-family: Helvetica;
		font-size: 1.75vh;
		
	}
	canvas
	{
		display: block;
		position: fixed; 
		top:0;
		left:0;
		z-index: -5;
	}
	#About
	{
		font-size: 200%;
		padding: 0;
		align-content: center;
		margin: bottom;
		color: #000000;
	}
	#sections
	{
		
		margin: 0% 7.5% 2.5% 7.5%;
		text-align: center;
		background-color: white;
		color: #3B3831;
		opacity: 1;
	}
	h1
	{
		font: 200%;
		color: #000000;
	}
	#projects
	{
		//text-align: center;
		
		font-size: 200%;
		color: #000000;
	}
	#SideWaysLinks
	{
		display: inline;
		font-size: 150%;
		list-style-type: none;
		text-align: center;

	}
	table, tr, td
	{
		
		border-style: none;
		text-align: center;
		padding: auto;
		margin: auto;
		
	}
	#diffTable
	{
		
		border-style: none;
		font-size: 100%;
		display: block;
	}
	#nav-section
	{
		display: block;		
		list-style-type: none;
		float: left;
		position: relative;
		font-weight: bold;
		width: 25%;
		text-align: center;
		font-size: 2vh;
		z-index: 999;
		top: 0px;
	}
	nav
	{
		display: block;
		background-color: white;
		width: 100%;
		height: 10vh;
		opacity: 0.75;
		background-attachment: fixed;
		position: fixed;
    	top: 0vh;
    	left: 0;
    	z-index: 999;
	}
	hr
	{
		border-bottom: 0;
		border-top: 1px dashed black;
		border-right: 0;
		border-left: 0;
		width: 30%;
	}
	#diffSections
	{
		border: 1px dotted black;
		width: 45%;
		margin-bottom: 5%;

	}
	p
	{
		font-size: 175%;
		color: #000000;
		padding:0 5% 5% 5%;
		text-align: center;
	}
	a, a:visited
	{
		color: blue;
		text-decoration: none;
	}
	#nav
	{
		display: block;
		background-color: black;
		color: white;
		text-decoration: none;
		height: 10vh;
		line-height: 4;
		text-align: center;
		padding: 0 0.5em 0 0.5em;
	}
	#nav:hover
	{
		background-color: rgb(37, 37, 49);

	}
	#pages, #pages:visited
	{
		text-align: center;
		text-decoration:none;
		color: #000000;
	}
	#pages:hover
	{
		color: #c4c7ce;
	}
	div#unityPlayer 
	{
		cursor: default;
		height: 320px;
		width: 480px;
	}
	div
	{
		padding-top: 2.5%;
		
	}
	div.bottom
	{
		margin-top: 0%;
		margin-bottom: 0px;
		padding: 0;
		width: 100%;
	}
	footer.pageBottom
	{
		padding: 0;
		margin: 0 0 0 0;
		background-color: rgb(61, 57, 54);
		color: white;
		word-spacing: 150%;
		line-height: 200%;
		font-size: 130%;
		height: 1vh;
	}
	div.parallax
	{
		height: 100vh;

		  /* fix background */
		background-attachment: fixed;

		  /* center it */
		background-position: center;

		  /* Scale it nicely to the element */
		background-size: cover;
	}
	#top
	{
		
		background-image: url(FaceAward.jpg);
	}
	#Me
	{
		background-image: url(CodeImage-1.jpg);
	}
	#skillzz
	{	
		background-image: url(DSC_0309.JPG);
	}
	#projectz
	{
		height: 125%;
		background-image: url(CodeImage-2.jpg);
	}
	#Achievmentz
	{
		background-image: url(ATT-Hacks2.jpg);
	}